
@{
    ViewBag.Title = "Savepage";
}


<div class="form-group">
    <form action="Save" method="post">
        <label for="basic-url">Your full project URL:</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">http://</span>
            <input type="text" class="form-control" id="inputURL" aria-describedby="basic-addon3" name="Link" />
        </div>

        <br />
        <label for="basic-url">Your full project repository URL:</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">https://github.com/</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                   name="RepoLink">
        </div>

        <br />
        <label for="basic-url">Your short project description:</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Short project description</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                   name="ShortDesc">
        </div>
        <br />
        <label for="basic-url">Your long project description:</label>
                <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6">
                        <textarea class="form-control"  name="LongDesc" rows="3" column ="200" placeholder="Enter Description" required></textarea>
                    </div>
                </div>
            </div>
        <div>
             <input type="submit" class="btn btn-info " value="Submit">
            
        </div>


    </form>

</div>
