<!DOCTYPE html>
@{
    ViewBag.Title = "Developers";
}
    <!-- Page Content -->

<head>
    <meta name="Home" content="width=device-width" />
    <center><h1>@ViewBag.Message</h1></center>
</head>

<body>

    <center>
        <div class="row">
             
            <div class="col-lg-3">
               <img src= "@ViewBag.Lola" width="250" height="250"/>
                <br />  
                <h3>Omolola Alade</h3>
                <a href="https://www.linkedin.com/in/omolola-alade/" class="btn btn-primary btn-sm" role="button">LinkedIn</a>
                <a href="https://github.com/tundelola" class="btn" role="button">Github</a>
            </div>
                   
            <div class="col-lg-3">
                <img src=@ViewBag.Jay width="250" height="250" />
                <h3>Jay Patel</h3>
                <a href="https://www.linkedin.com/in/jaypatel111/" class="btn btn-primary btn-sm" role="button">LinkedIn </a>
                <a href="https://github.com/jpatel313" class="btn" role="button">Github </a>
                <br />
            </div>

            <div class="col-lg-3">
                <img src=@ViewBag.Mary width="250" height="250" />
                <br />
                <h3>Mary Olive</h3>
                <a href="https://www.linkedin.com/in/maryolive/" class="btn btn-primary btn-sm" role="button">LinkedIn </a>
                <a href="https://github.com/wyrd0" class="btn" role="button">Github </a>
            </div>
            
            <div class="col-lg-3">
                <img src=@ViewBag.Tom width="250" height="250" />
                <h3>Tom Krueger</h3>
                <a href="https://www.linkedin.com/in/littletomk/" class="btn btn-primary btn-sm" role="button">LinkedIn</a>
                <a href="https://github.com/Swatacular" class="btn" role="button">Github</a>
                <br />
            </div>
       </div>
                  
    </center>

</body>
        
          
   




